@import "../../base";

.projects {
  background-color: $pink;
  display: flex;
  @include section-padding;

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include container;

    @media (max-width: 550px) {
      width: 90%;
    }
  }
}
