@import "../../base";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $black;
  text-transform: uppercase;
  @include box-shadow(5px, 5px, 0, 0);
  height: 89px;
  font-size: 40px;
  font-family: "Oswald Bold", sans-serif;
  color: $black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border: 5px solid $black;
    @include box-shadow(0, 0, 0, 0);
    transform: translate(5px, 5px);

    @media (max-width: 768px) {
      border: 3px solid $black;
      transform: none;
      @include box-shadow(5px, 5px, 0, 0);
    }
  }
}
