@import "../../base";

.about {
  display: flex;
  @include container;
  padding: 180px 0;

  &--left,
  &--right {
    // width: 50%;
    flex: 1;
  }

  &--left {
    border: 19px solid $black;
    margin-right: 95px;
    -webkit-box-shadow: 20px 20px 0px 0px $black;
    -moz-box-shadow: 20px 20px 0px 0px $black;
    box-shadow: 20px 20px 0px 0px $black;
    padding: 30px;

    h2 {
      color: $darkgrey;
      font-family: "Oswald Bold", sans-serif;
      text-transform: uppercase;
      font-size: 54px;
      line-height: 80px;
      letter-spacing: 2.7px;
    }

    &--technologies {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;

      &-item {
        position: relative;

        img:hover + .tooltip {
          display: block;
        }
      }
    }

    .tooltip {
      display: none;
      font-size: 36px;
      line-height: 59px;
      height: 59px;
      padding: 0 10px;
      width: auto;
      color: $black;
      background-color: $white;
      position: absolute;
      bottom: -50px;
      left: 50%;
      border: 3px solid $black;
      -webkit-box-shadow: 5px 5px 0px 0px $yellow;
      -moz-box-shadow: 5px 5px 0px 0px $yellow;
      box-shadow: 5px 5px 0px 0px $yellow;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;

    &--about {
      margin-top: 70px;

      p {
        color: grey;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 16px;
        letter-spacing: 2.7px;
      }
    }

    &--icons {
      align-self: flex-end;
      margin-top: 60px;

      img {
        margin-right: 40px;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
