@import "../../base";

.about {
  display: flex;
  @include container;
  padding: 180px 0;

  &--left,
  &--right {
    flex: 1;
  }

  &--left {
    border: 19px solid $black;
    margin-right: 95px;
    @include box-shadow(20px, 20px, 0, 0);
    padding: 30px;

    h2 {
      color: $darkgrey;
      font-family: "Oswald Bold", sans-serif;
      text-transform: uppercase;
      font-size: 54px;
      line-height: 80px;
      letter-spacing: 2.7px;
    }

    &--technologies {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 30px;

      &-item {
        position: relative;
        width: 33%;

        img:hover + .tooltip {
          display: block;
          position: absolute;
          z-index: 5;
        }
      }
    }

    .tooltip {
      display: none;
      font-size: 36px;
      line-height: 60px;
      min-height: 60px;
      padding: 0 10px;
      min-width: 100px;
      color: $black;
      background-color: $white;
      position: absolute;
      bottom: -50px;
      left: 50%;
      border: 3px solid $black;
      @include box-shadow(5px, 5px, 0, 0, $yellow);
    }
  }

  &--right {
    display: flex;
    flex-direction: column;

    &--about {
      margin-top: 70px;

      p {
        color: grey;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 16px;
        letter-spacing: 2.7px;
      }
    }

    &--icons {
      align-self: flex-end;
      margin-top: 60px;

      img {
        margin-right: 40px;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
