@import "../../base";

.about {
  @include section-padding;

  &--content {
    display: flex;
    @include container;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }

  &--left,
  &--right {
    flex: 1;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &--left {
    border: 19px solid $black;
    margin-right: 95px;
    @include box-shadow(20px, 20px, 0, 0);
    padding: 30px;
    max-height: 625px;

    @media (max-width: 1000px) {
      margin-right: 50px;
    }

    @media (max-width: 900px) {
      margin-right: 0;
    }

    @media (max-width: 600px) {
      max-height: initial;
      padding: 0;
    }

    @media (max-width: 500px) {
      border: 0;
      @include box-shadow(0, 0, 0, 0);
    }

    h2 {
      color: $darkgrey;
      font-family: "Oswald Bold", sans-serif;
      text-transform: uppercase;
      font-size: 54px;
      line-height: 80px;
      letter-spacing: 2.7px;
      text-align: center;
    }

    &--technologies {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 30px;

      &-item {
        position: relative;
        width: 33%;
        text-align: center;
        margin-bottom: 35px;

        @media (max-width: 550px) {
          width: 50%;
        }

        img {
          height: 100px;
          width: 100px;
        }

        img:hover + .tooltip {
          display: block;
          position: absolute;
          z-index: 5;
        }
      }
    }

    .tooltip {
      display: none;
      font-size: 36px;
      line-height: 60px;
      min-height: 60px;
      padding: 0 10px;
      min-width: 200px;
      color: $black;
      background-color: $white;
      position: absolute;
      bottom: -50px;
      left: 50%;
      border: 3px solid $black;
      @include box-shadow(5px, 5px, 0, 0, $yellow);

      @media (max-width: 768px) {
        transform: translate(-50%, 30%);
      }
    }
  }

  &--right {
    display: flex;
    flex-direction: column;

    &--about {
      margin-top: 70px;

      @media (max-width: 550px) {
        margin-top: 35px;
      }

      p {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 16px;

        @media (max-width: 550px) {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }

    &--icons {
      align-self: flex-end;
      margin-top: 60px;

      @media (max-width: 900px) {
        margin: 30px;
      }

      @media (max-width: 550px) {
        align-self: center;
      }

      // a {
      //   margin-right: 40px;
      // }

      img {
        cursor: pointer;
        height: 110px;
        width: 110px;

        // &:last-of-type {
        //   margin-right: 0;
        // }
      }
    }
  }
}
