@import "../../base";

.contact {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 0 50px 0;
  @include scroll-snap;

  &--content {
    width: 100%;
    max-width: 987px;
    position: relative;
    padding: 0 20px;
  }

  &--icons {
    position: absolute;
  }

  .left,
  .right {
    width: 200px;
    height: 155px;
  }

  .left {
    bottom: 30px;
    left: -85px;
  }

  .right {
    top: 70px;
    right: -100px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;

    input {
      height: 76px;
    }

    textarea {
      height: 364px;
    }

    input,
    textarea {
      width: 100%;
      margin-bottom: 30px;
      font-size: 42px;
      padding: 19px;
      user-select: auto;

      &::placeholder {
        color: $grey;
      }

      &::-moz-selection,
      &::selection {
        background: $yellow;
      }
    }
  }
}
