@import "../../base";

.contact {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include section-padding;
  @include scroll-snap;
  padding-bottom: 50px;

  &--content {
    width: 100%;
    max-width: 987px;
    position: relative;
    padding: 0 20px;

    @media (max-width: 1200px) {
      width: 90%;
    }
  }

  &--icons {
    position: absolute;
  }

  .left,
  .right {
    width: 200px;
    height: 155px;

    @media (max-width: 1200px) {
      width: 100px;
      height: 77.5px;
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  .left {
    bottom: 30px;
    left: -85px;

    @media (max-width: 1200px) {
      bottom: 82px;
      left: -21px;
    }
  }

  .right {
    top: 70px;
    right: -100px;

    @media (max-width: 1200px) {
      top: 108px;
      right: -28px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;

    input {
      height: 76px;
    }

    textarea {
      height: 364px;
    }

    input,
    textarea {
      width: 100%;
      margin-bottom: 30px;
      font-size: 42px;
      padding: 19px;
      user-select: auto;

      &::placeholder {
        color: $grey;
      }

      &::-moz-selection,
      &::selection {
        background: $yellow;
      }
    }
  }
}
