@import "../../base";

.header {
  min-height: 900px;
  background-color: $yellow;
  display: flex;
  align-items: center;
  @include scroll-snap;

  &--content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include container;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &--text {
    width: 50%;

    &--name {
      font-family: "Oswald Bold", sans-serif;
      text-transform: uppercase;
      font-size: 84px;
      line-height: 124px;
      letter-spacing: 2.7px;

      @media (max-width: 1640px) {
        line-height: 90px;
      }
    }

    &--position {
      font-size: 56px;
      line-height: 67px;
      letter-spacing: 4.5px;
      margin-bottom: 30px;
    }
  }

  &--image {
    position: relative;
    margin-top: 80px;
    width: 50%;

    &--my-pic {
      height: 691px;
      width: 801px;

      @media (max-width: 1640px) {
        height: 40vw;
        width: auto;
      }
    }
  }

  &--icons {
    position: absolute;
    height: 115px;
    width: 115px;
  }

  .brackets {
    bottom: 100px;
    left: -35px;
  }

  .laptop {
    top: 100px;
    right: 70px;
  }
}
