@import "../../base";

.navbar {
  background-color: $yellow;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;

  &--scroll {
    background-color: $black;
    height: 5px;
    width: 0%;
    transition: all 0.3s linear;
  }

  .is-active {
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 100%;
    @include container;

    li {
      margin-right: 90px;
    }

    a {
      font-family: "Oswald Regular", sans-serif;
      text-transform: uppercase;
      font-size: 34px;
      letter-spacing: 4.5px;
      text-decoration: none;
      color: $black;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
        text-decoration-style: wavy;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
