@import "../../base";

.navbar {
  background-color: $yellow;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;

  @media (max-width: 1640px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (max-width: 768px) {
    align-items: center;
  }

  &--scroll {
    background-color: $black;
    height: 5px;
    width: 0%;
    transition: all 0.3s linear;
  }

  .is-active {
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 100%;
    @include container;

    @media (max-width: 768px) {
      justify-content: center;
    }

    li {
      margin-right: 90px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 1200px) {
        margin-right: 60px;
      }

      @media (max-width: 768px) {
        margin-right: 20px;
      }

      @media (max-width: 500px) {
        margin-right: 10px;
      }
    }

    a {
      font-family: "Oswald Regular", sans-serif;
      text-transform: uppercase;
      font-size: 34px;
      letter-spacing: 4.5px;
      text-decoration: none;
      color: $black;

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 500px) {
        font-size: 18px;
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
        text-decoration-style: wavy;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
