@import "../../base";

.footer {
  background-color: $blue;
  text-align: center;
  color: $violet;
  font-family: "Oswald Regular", sans-serif;
  letter-spacing: 2.7px;
  line-height: 21px;
  @include scroll-snap;
  padding-bottom: 20px;
}
