$yellow: #ebc30e;
$violet: #dd7dff;
$black: #000;
$grey: #8b878b;
$darkgrey: #504e4e;
$white: #ffffff;
$pink: #fcddec;
$blue: #4b3dfa;

@mixin container {
  width: 100%;
  max-width: 1640px;
  margin: auto;
}

@mixin box-shadow($val1, $val2, $val3, $val4, $color: $black) {
  -webkit-box-shadow: $val1 $val2 $val3 $val4 $color;
  -moz-box-shadow: $val1 $val2 $val3 $val4 $color;
  box-shadow: $val1 $val2 $val3 $val4 $color;
}

@mixin scroll-snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
